.caption {
	display: block;
	text-align: center;
	font-weight: bold;
	height: 40px;
}

.graph {
	position: relative;
	float: right;
}

.graph ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.legend {
   background: #f0f0f0;
   border-radius: 4px;
   bottom: 0;
   position: relative;
   text-align: left;
   width: 100%;
}

.legend li {
   display: block;
   float: left;
   height: 20px;
   margin: 0;
   padding: 10px 20px;
}

.legend span.icon {
   background-position: 50% 0;
   border-radius: 2px;
   display: block;
   float: left;
   height: 16px;
   margin: 2px 10px 0 0;
   width: 16px;
}

.x-axis {
   bottom: 0;
   color: #555;
   position: absolute;
   text-align: center;
}

.x-axis li {
   float: left;
   margin: 0 10px;
}

.y-axis {
   color: #555;
   position: absolute;
   text-align: left;
}

.y-axis ul {
	padding: 0px;
	margin: 0px;
}

.y-axis li {
   border-top: 1px solid #ccc;
   display: block;
}

.y-axis li span {
   display: block;
   position: relative;
   text-align: right;
}

.bars {
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	position: relative;
	margin: 0 10px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	position: absolute;
	text-align: center;
	#cursor: pointer;
	display: block;
}

.bar span {
	margin-top: -25px;
	*zoom: 1;
	display: none;
	position: relative;
}
.item-0 {
	background: #68BC31; /* Old browsers */
	
}
.item-1 {
	background: #2091CF; /* Old browsers */
	
}
.item-2 {
	background: #AF4E96; /* Old browsers */
	
}
.item-3 {
	background: #DA5430; /* Old browsers */
	
}




